// app global css in Sass form
.text-grand-hotel
  font-family: 'Grand Hotel', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif

.small-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: block
  @media (min-width: $breakpoint-sm-min)
    display: none

.large-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: none
  @media (min-width: $breakpoint-sm-min)
    display: block

.constrain
  max-width: 975px
  margin: 0 auto

.btn
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

.authentication
  margin: auto
  max-width: 30em
  width: 100%


.bg-image
  background-image: url(../assets/background_movie.jpg)
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-color: rgba(255, 255, 255, 0.1)
  background-blend-mode: lighten

.bg-movie-image
  background-image: url(../assets/cinema.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-color: rgba(255, 255, 255, 0.4)
  background-blend-mode: lighten
  color: black
  font-weight: bold
  margin: 5px 1% 5px 1%
  width: 23%
  height: 240px
  overflow: hidden
  transition: height 0.001s
  -webkit-transition: height 0.001s
  float: left
  position: relative
  padding: 5px 5px 5px 5px
  text-align: center

.bg-movie-image:hover
  box-shadow: 0px 0px 0px 4px black
  cursor: pointer
  width: 23%
  height: 200%

.login
  padding: 2em 4em
  background-color: white
  margin: auto
  border-radius: 2em
  @media (min-width: $breakpoint-xs-max)
    width: 80%
  @media (min-width: $breakpoint-sm-max)
    width: 50%
  @media (min-width: $breakpoint-md-max)
    width: 25%


.hover
  cursor: pointer

.bg-home
  background-image: url("../assets/bg_mainpage.jpg")
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-color: rgba(255, 255, 255, 0.2)
  background-blend-mode: lighten

.border-poster
  box-shadow: 0px 0px 0px 0px black
  transition: box-shadow 0.6s linear
  margin: 0.5em


.border-poster:hover
  box-shadow: 0px 0px 0px 4px black
  cursor: pointer

.border-poster-alwon
  border: solid black
  box-shadow: 0px 0px 0px 0px black
  transition: box-shadow 0.6s linear
  margin: 0.5em
  width: 23%
  height: 80%


.border-poster-alwon:hover
  box-shadow: 0px 0px 0px 4px black
  cursor: pointer

.bg-poster-alwon
  background-color: rgba(0, 0, 255, 0.4)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 100%
  color: white
  /* background-image: url("../assets/bg_grid_search.jpg") */

.profile
  transition: box-shadow 0.1s
  padding: 5px 5px 5px 5px
  text-align: center

.profile:hover
  box-shadow: 0px 0px 0px 4px black
  cursor: pointer
  width: 15%
  height: 50%
