// app global css in Sass form
.text-grand-hotel
  font-family: 'Grand Hotel', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif

.small-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: block
  @media (min-width: $breakpoint-sm-min)
    display: none

.large-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: none
  @media (min-width: $breakpoint-sm-min)
    display: block

.constrain
  max-width: 975px
  margin: 0 auto

.btn
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

.authentication
  margin: auto
  max-width: 30em
  width: 100%


.bg-image
  background-image: url(../assets/background_movie.jpg)
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-color: rgba(255, 255, 255, 0.1)
  background-blend-mode: lighten


.login
  padding: 2em 4em
  background-color: white
  margin: auto
  border-radius: 2em
  @media (min-width: $breakpoint-xs-max)
    width: 80%
  @media (min-width: $breakpoint-sm-max)
    width: 50%
  @media (min-width: $breakpoint-md-max)
    width: 25%




